*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{
	width: 100%;
	height: 200vh;
/*	border: 1px solid black;*/
	background-color: white;
}
#bar{
	display: none;
}
#mark{
	display: none;
}
.section{
	width: 100%;
	height: 120px;
/*	border: 1px solid black;*/
	display: flex;
	justify-content: space-evenly;
	background-color: #FF90BB;
}
.logo{
	width: 20%;
	height: 120px;
/*	border: 1px solid black;*/
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav{
	width: 60%;
	height: 120px;
/*	border: 1px solid black;*/
	display: flex;
	justify-content: center;
	align-items: center;
}
ul{
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}
li a{
	font-size: 18px;
	padding-left: 50px;
	color: black;
}
.bg1{
	width: 700px;
	height: 700px;
	position: absolute;
	margin-left: 24%;
	margin-top: 60px;
}
.img1{
	position: absolute;
	width: 800px;
	height: 800px;
	margin-left: 22%;
	margin-top: 10px;
	transform: rotate(210deg);
}
.child{
	width: 34%;
	height: 450px;
/*	border: 1px solid black;*/
	position: absolute;
	margin-left: 33%;
	margin-top: 550px;
	transform: rotate(225deg);
	background-color: #FFD1DA;
}
.col{
	width: 30%;
	height: 300px;
/*	border: 1px solid black;*/
	text-align: center;
	margin-left: 35%;
	position: absolute;
	margin-top: 650px;
}
.read{
	padding-left: 30px;
	padding-right: 30px;
	line-height: 50px;
	border-radius: 30px;
	background-color: #DB005B;
	color: white;
	font-size: 18px;
	word-spacing: 5px;
	letter-spacing: 2px;
	border: none;
	margin-top: 30px;
	font-family: 'Bitter', serif;
}
.beauty{
	font-size: 35px;
	color:  #DB005B;
/*	font-family: 'Asap', sans-serif;*/
font-family: 'Bitter', serif;
/*font-family: 'Dancing Script', cursive;*/
/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Tajawal', sans-serif;*/
}
.habit{
	margin-top: 30px;
	font-size: 22px;
	font-family: 'Tajawal', sans-serif;
}
.section1{
	width: 100%;
	height: 100vh;
/*	border: 1px solid black;*/
	background-color: #FFD1DA;
}
.parent1{
	width: 100%;
	height: 120px;
/*	border: 1px solid black;*/
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.simple{
	color: #F11A7B;
	font-size: 50px;
	font-family: 'Asap', sans-serif;
}
.duis{
	font-size: 20px;
}
.box1{
	width: 30%;
	height: 400px;
	border: 2px solid #F11A7B;
	border-radius: 20px;
	background-color: white;
	text-align: center;
}
.one{
/*	border: 1px solid black;*/
	margin-left: 170px;
	margin-right: 170px;
	line-height: 60px;
	border-radius: 50%;
	margin-top: 50px;
	background-color: #FFD1DA;
	color: #F11A7B;
}
.drink{
	margin-top: 20px;
	color: #F11A7B;
	font-family: 'Bitter', serif;
}
.sample{
	margin-top: 20px;
}
.more{
	padding-right: 30px;
	padding-left: 30px;
	line-height: 40px;
	font-size: 20px;
	margin-top: 30px;
/*	margin-left: -58%;*/
	border-radius: 20px;
	border: 2px solid #F11A7B;
	background: none;
	color: #F11A7B;
	font-family: 'Bitter', serif;
}
.more:hover{
	background-color: #F11A7B;
	color: white;
}
.section2{
	width: 100%;
	height: 650px;
/*	border: 1px solid black;*/
	background-color: white;
	display: flex;
}
.child2{
	width: 50%;
	height: 650px;
/*	border: 1px solid black;*/
	text-align: center;
}
.read2{
	padding-left: 30px;
	padding-right: 30px;
	line-height: 50px;
	border-radius: 30px;
	background-color: #DB005B;
	color: white;
	font-size: 18px;
	word-spacing: 5px;
	letter-spacing: 2px;
	border: none;
	margin-top: 50px;
	font-family: 'Bitter', serif;
}
.read2:hover{
	background-color: white;
	color: black;
	border: 2px solid #DB005B;
}
.how{
	margin-top: 120px;
	color: #F11A7B;
	font-size: 40px;
	font-family: 'Tajawal', sans-serif;
}
.aute{
	margin-top: 30px;
	font-size: 20px;
}
.aute2{
	margin-top: 40px;
	font-size: 20px;
}
.img2{
	width: 500px;
	height: 500px;
	position: absolute;
	margin-left: -18%;
	margin-top: 20px;
}
.imgg2{
	width: 500px;
	height: 500px;
	position: absolute;
	margin-left: -18%;
	margin-top: 20px;
}
#img{
	position: absolute;
	margin-top: 480px;
	margin-left: -16%;
}
.section3{
	width: 100%;
	height: 700px;
/*	border: 1px solid black;*/
	background-color: #FFF0F5;
}
.img3{
	position: absolute;
	width: 580px;
	height: 580px;
	margin-left: 80px;
	margin-top: 80px;
}
.imgg3{
	position: absolute;
	width: 600px;
	height: 600px;
	transform: rotate(180deg);
	margin-left: 80px;
	margin-top: 80px;
}
#img3{
	margin-left: 58%;
	position: absolute;
	width: 180px;
	margin-top: 80px;
}
.sl{
	border: 1px solid black;
	background-color: black;
}
.parent3{
	width: 100%;
	height: 500px;
	border: 1px solid white;
	background-color: white;
}
.section4{
	width: 100%;
	height: 400px;
/*	border: 1px solid black;*/
	background-color: #FFF0F5;
}
.read4{
	padding-left: 30px;
	padding-right: 30px;
	line-height: 50px;
	border-radius: 30px;
	background-color: #DB005B;
	color: white;
	font-size: 18px;
	word-spacing: 5px;
	letter-spacing: 2px;
	border: none;
	margin-top: 50px;
	margin-left: 10%;
	font-family: 'Bitter', serif;
}
.read4:hover{
	background-color: white;
	color: black;
	border: 2px solid #DB005B;
}
.top{
	margin-top: 60px;
	margin-left: 10%;
	color: #F11A7B;
	font-size: 40px;
	font-family: 'Tajawal', sans-serif;
}
.amet{
	margin-left: 10%;
	margin-top: 30px;
	font-size: 20px;
}
.section5{
	width: 100%;
	height: 600px;
/*	border: 1px solid black;*/
	display: flex;
	background-color: white;
}
.child5{
	width: 50%;
	height: 600px;
/*	border: 1px solid black;*/
}
.read5{
	padding-left: 30px;
	padding-right: 30px;
	line-height: 50px;
	border-radius: 30px;
	background-color: #DB005B;
	color: white;
	font-size: 18px;
	word-spacing: 5px;
	letter-spacing: 2px;
	border: none;
	margin-top: 50px;
	margin-left: 10%;
	font-family: 'Bitter', serif;
}
.read5:hover{
	background-color: white;
	color: black;
	border: 2px solid #DB005B;
}
.you{
	font-size: 40px;
	color: #F11A7B;
	margin-left: 10%;
	margin-top: 100px;
}
.duis5{
	font-size: 20px;
	margin-top: 20px;
	margin-left: 10%;
}
.lorem{
	font-size: 20px;
	margin-top: 30px;
	margin-left: 10%;
}
.img5{
	width: 500px;
	height: 500px;
	position: absolute;
	margin-left: 5%;
	margin-top: 50px;
}
.imgg5{
	position: absolute;
	margin-left: 8%;
	width: 500px;
	height: 500px;
	margin-top: 70px;
	transform: rotate(170deg);
}
.section6{
	width: 100%;
	height: 300px;
/*	border: 1px solid black;*/
	background-color: white;
}
.parent6{
	width: 100%;
	height: 120px;
/*	border: 1px solid black;*/
	display: flex;
	justify-content: center;
	align-items: center;
	color: #F11A7B;
	font-size: 40px;
	font-family: 'Tajawal', sans-serif;
}
.child6{
	width: 100%;
	height: 180px;
/*	border: 1px solid black;*/
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.box6{
	width: 20%;
	height: 150px;
/*	border: 1px solid black;*/
	text-align: center;
}
.fa{
	font-size: 30px;
	margin-top: 20px;
	color: #F11A7B;
/*	border: 1px solid black;*/
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 50%;
	background-color: #FFD1DA;
}
.counter{
    margin-top: 20px;
    font-size: 40px;
}
.section7{
	width: 100%;
	height: 500px;
/*	border: 1px solid black;*/
	display: flex;
	background-color: #FFF0F5;
}
.child7{
	width: 50%;
	height: 500px;
/*	border: 1px solid black;*/
	display: flex;
	justify-content: center;
	align-items: center;
}
.creat{
	font-size: 25px;
	line-height: 40px;
}
.img7{
    position: absolute;
    width: 450px;
	height: 450px;
/*	transform: rotate(26deg);*/
	margin-left: -40px;
}
.imgg7{
	position: absolute;
	width: 450px;
	height: 450px;
}
.section8{
	width: 100%;
	height: 500px;
/*	border: 1px solid black;*/
	background-color: #FFF0F5;
	display: flex;
}
.child8{
	width: 50%;
	height: 500px;
/*	border: 1px solid black;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.areticle{
	font-size: 16px;
	line-height: 25px;
}
.oh{
	font-size: 17px;
	margin-top: 40px;
	line-height: 25px;
}
.img8{
	position: absolute;
	width: 470px;
	height: 470px;
	transform: rotate(270deg);
	margin-top: 30px;
	margin-left: 20px;
}
.imgg8{
	position: absolute;
	width: 450px;
	height: 450px;
}
.round{
	width: 130px;
	margin-top: 50px;
	margin-left: 60%;
}
.section9{
	width: 100%;
	height: 800px;
/*	border: 1px solid black;*/
	background-color: white;
}
.img9{
	position: absolute;
	height: 610px;
	width: 900px;
	margin-left: 16%;
}
.imgg9{
	position: absolute;
	height: 610px;
	width: 900px;
	margin-left: 16%;
}
.child9{
	width: 35%;
	height: 500px;
/*	border: 1px solid black;*/
	position: absolute;
	margin-top: 280px;
	background-color: white;
	margin-left: 50px;
	border-radius: 15px;
}
.name{
	margin-top: 20px;
	position: absolute;
}
input{
	padding-right: 290px;
	line-height: 40px;
	margin-top: 20px;
	background-color: #FFF0F5;
	border: none;
	border-radius: 10px;
}
textarea{
	margin-top: 20px;
	padding-right: 296px;
	line-height: 60px;
	background-color: #FFF0F5;
	border: none;
	border-radius: 10px;
}
.submit{
	padding-right: 195px;
	padding-left: 195px;
	line-height: 50px;
	margin-top: 30px;
	background-color: #F11A7B;
	border-radius: 10px;
	border: none;
	font-size: 20px;
}
.section10{
	width: 100%;
	height: 50px;
/*	border: 1px solid black;*/
	background-color: white;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}